{% extends "common/base.twig" %}
{% block currentPage %}Login{% endblock %}
{% block content %}
<form action="{{ path('login_check') }}" method="post">
{{ error }}
<input type="text" name="_username" value="{{ lastUsername }}" />
<input type="password" name="_password" value="" />
<input type="submit" />
</form>

{% endblock %}